.container {
    width: 85%;
    margin: auto auto 3rem auto;
}

table {
    width: 100%;
}

mat-form-field {
    width: 100%;
}

button {
    width: 100%;
}

h1 {
    width: 100%;
    margin-bottom: 2rem;
    text-align: center;
    font-weight: 400;
}

.edit {
    color: rgb(0, 153, 255);
}

.delete {
    color: rgb(63, 81, 181);
}

mat-radio-group {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;
}