<div class="container mat-elevation-z8">
    <form class="form">

        <h1 class="fullwidth">Cadastro de Técnicos</h1>
        <img class="fullwidth" src="assets/img/tecnico-create.svg" alt="">

        <section class="section">
            <mat-checkbox class="margin">Admin</mat-checkbox>
            <mat-checkbox class="margin">Técnico</mat-checkbox>
            <mat-checkbox class="margin">Cliente</mat-checkbox>
        </section>

        <mat-form-field class="fullwidth" appearance="legacy">
            <mat-label>Nome:</mat-label>
            <input matInput placeholder="Fulano de tal">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field>

        <mat-form-field class="fullwidth" appearance="legacy">
            <mat-label>CPF</mat-label>
            <input matInput placeholder="123.456.789-10">
            <mat-icon matSuffix>pin</mat-icon>
        </mat-form-field>

        <mat-form-field class="fullwidth" appearance="legacy">
            <mat-label>E-mail</mat-label>
            <input type="email" matInput placeholder="fulano@mail.com">
            <mat-icon matSuffix>email</mat-icon>
        </mat-form-field>

        <mat-form-field class="fullwidth" appearance="legacy">
            <mat-label>Senha</mat-label>
            <input type="password" matInput placeholder="123">
            <mat-icon matSuffix>password</mat-icon>
        </mat-form-field>

        <button class="fullwidth mat-elevation-z4" mat-flat-button color="primary">Criar</button>
        <button class="fullwidth mat-elevation-z4" mat-flat-button color="accent">Cancelar</button>

    </form>
</div>